# Copy this file to `credentials.h` and edit to match your environment

# Set your WiFi credentials:
define WIFI_SSID "Your WiFi SSID"
define WIFI_PASSWORD "Your WiFi Password"

# Change to your Grafana Cloud path:
define GC_URL "prometheus-prod-13-prod-us-east-0.grafana.net"

# Change to your Grafana Cloud metrics ID:
define GC_USER "YOUR_GRAFANA_CLOUD_METRICS_ID"
define GC_PASS "YOUR_GRAFANA_CLOUD_METRICS_PASSWORD"

# These should be fine as they are:
define GC_PATH "/api/prom/push"
define GC_PORT 443

